---
layout: handbook-page-toc
title: "CI/CD UX Team"
description: "The CI/CD UX team works to ensure the best experience for users of all knowledge levels to successfully apply continuous methods with no 3rd-party application or integration"
---

## On this page

{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Hello!

Welcome to the GitLab CI/CD UX team handbook page. We're comprised of three stage groups that support designing and building the GitLab DevOps product: [Verify](/direction/ops/#verify), [Package](/direction/ops/#package), [Deploy](/direction/ops/#deploy), and [SaaS Platforms](/direction/saas-platforms/dedicated/) stages.

### Who We Are

| **GitLab.com** | [`@gitlab-com/gitlab-ux/cicd-ux`](https://gitlab.com/gitlab-org/ci-cd-ux) |
| **Slack channel** | [`#ux_ci-cd`](https://gitlab.slack.com/app_redirect?channel=ux_ci-cd) (_internal only_)|
| **Youtube playlists** | [CI/CD UX - Team Meetings](https://www.youtube.com/watch?v=ViEs54I5lHE&list=PL05JrBw4t0Kpap0GkV0SSuGnPhCM8jrAv) |
| |  [CI/CD UX Team - Design Reviews](https://www.youtube.com/watch?v=AYO97sRry4E&list=PL05JrBw4t0Kpnb8RDztlfpryAYip1OMwb) | 
| **Ops Section page** | [Ops handbook](/handbook/product/categories/#ops-section) | 

### Vision

Our mission is to design and create simple, clean ways to make GitLab the tool of choice for deploying software where, when, and how users want. 

Our design team works to ensure the best experience for users of all knowledge levels, allowing them to successfully apply the continuous methods (Continuous Integration, Delivery, and Deployment) to their software with no third-party application or integration needed.

### Structure

#### Verify
  
TBA
  
#### Package 
  
TBA
  
#### Deploy
  
TBA
  
#### Switchboard
  
TBA

## Strategy

Our product design team is working to uncover customers' core needs and streamlining their workflows by being the conversation drivers with product managers, developers and other counterparts across stage groups.
We contribute to the [UX Department Direction](/handbook/product/ux), [Ops Product Section Direction](/direction/ops/) and [SaaS Platforms Direction](/direction/saas-platforms/) in the following ways:

TBA

### Understanding Our Users

Different user types are considered in our experience design effort. Even when a user has the same title, their responsibilities may vary by organization size, department, organization structure, and role. Some of the people we are serving are:

- [Software Developer](/handbook/product/personas/#sasha-software-developer)
- [Development Tech Lead](/handbook/product/personas/#delaney-development-team-lead) 
- [DevOps Engineer](/handbook/product/personas/)
- [Product Designer](/handbook/product/personas/#presley-product-designer)
- QA

### Strategic counterparts

TBA

## Measuring Results

### OKRs

TBA

### Performance Indicators

#### UX Debt in CI/CD

<embed width="100%" height="350" src="<%= signed_periscope_url(dashboard: 930769, embed: 'v2') %>">

## How we work

### Team Onboarding

- _Coming soon_

### Career Development

Apart from GitLab's 360 Feedback and annual Talent Assessment, our team uses a number of approaches to identify opportunities to develop their skills and knowledge. At least once a year, each Product Designer should have a [career development](/handbook/people-group/learning-and-development/career-development) conversation with their manager to set the tone and direction of their yearly growth and development plans. An [Individual Growth Plan](https://about.gitlab.com/handbook/people-group/learning-and-development/career-development/igp-guide/) (IGP) is created to outline professional goals and steps to accomplish them. Finally, a conversation is followed up with monthly/quarterly checkpoints and frequents 1:1s where team members and manager talk about the IGP plan, accomplishments, and iterations of the goals.

Use the following issue templates to plan and prepare for career conversations with your manager:

- Part 1: [Individual Growth Plan](https://gitlab.com/gitlab-org/ci-cd-ux/-/blob/master/.gitlab/issue_templates/Individual-Growth-Plan.md) template
- Part 2: [Career Development Plan](https://gitlab.com/gitlab-org/ci-cd-ux/-/blob/master/.gitlab/issue_templates/Career-Development-Plan.md) template

### Workflows

We follow the workflows outlined in the [UX section](/handbook/product/ux/how-we-work/) of the handbook. In addition, we do the following:

* Track [team-specif OKRs](#okrs) to execute our UX Department strategy.
* Use our own [UX Definition of Done (DoD)](#ux-definition-of-done-dod).
* Participate in the [monthly milestone kick off](/handbook/product/ux/ux-department-workflow/#milestone-kickoff). Together with Product Managers, we record a video with a focus on the user experience, front-end (user interface design) and research innitiatives.
    * [View all Milestone Kickoff playlists](/direction/kickoff/#ops-section)
* Perform synchronous and asyncrhonous [design reviews](/handbook/product/ux/ux-resources/#synchronous-design-reviews).
    * [Watch our syncrhonous design reviews on Youtube](https://www.youtube.com/watch?v=AYO97sRry4E&list=PL05JrBw4t0Kpnb8RDztlfpryAYip1OMwb)

### Recurring Meetings

Our team meets every two weeks to discuss our work, processes, talk about user research activities, share knowledge, and raise questions to each other. We are also using session for team retrospectives, as well as sharing useful resources around design and DevOps domains. You can watch the [CI/CD UX Team Meeting videos](https://www.youtube.com/playlist?list=PL05JrBw4t0KqkrzZyJrJSEWNyiL_5x7an) on Unfiltered.

### UX Definition of Done (UX DoD)

The UX DoD lists the activities a Product Designer is responsible for in the [Product Development Flow](/handbook/product-development-flow/). This list can be applied to an epic/issue, and serves as a tool for describing and tracking the expected UX deliverables, objectives, and the approval process.

To keep the process efficient, depending on the scope of a problem, a Product Designer might not need to check off all of the items in the UX DoD while working through the Product Development Flow.

You can add the following checklist to an issue description to help illustrate the "completeness" of a design proposal:

```

### UX Definition of Done

1️⃣ **VALIDATION TRACK**

**Problem Validation Phase**
- [ ] Problem is well understood and has been validated
- [ ] JTBD is well understood and has been validated
- [ ] PM has communicated the opportunity canvas to stable counterparts and group stakeholders, including the Product Designer and Product Design Manager

**Design Phase**
- [ ] Document the JTBD and UX goal in the issue/epic description
- [ ] Explore multiple different approaches as a team
- [ ] Discuss the technical implications with Engineering
  - [ ] Identify any potential cross-team dependencies and include the DRIs in the discussions
- [ ] Identify a small set of options to validate
    - [ ] Document the user story(ies) for the MVC
    - [ ] Consider edge cases for each user story
    - [ ] Create prototypes or mockups for each user story
- [ ] [Pajamas component lifecyle](https://design.gitlab.com/get-started/lifecycle)
    - [ ] Identify component design or pattern update/creation
    - [ ] Discuss the technical implications with Engineering
    - [ ] Pajamas issue is created (within the scope of the MVC)
- [ ] Update issues/epic descriptions
    - [ ] The appropriate [labels](https://about.gitlab.com/handbook/product/ux/ux-department-workflow/#how-we-use-labels) were applied
      - [ ] If changes involve copy, add the ~"Technical Writing" and ~"UI text" labels
- [ ] Proposed solution(s) identified and documented in the issue/epic description

**Solution Validation Phase**
- [ ] Validate the solution to increase confidence in the proposed solution
- [ ] Document the solution validation learnings
- [ ] Product Designer has communicated the solution validation learnings to stable counterparts and group stakeholders, including the Product Design Manager
- [ ] Update the MVC proposal with relevant insights from the solution validation
  - [ ] Discuss the technical implications with Engineering
  - [ ] Update issue/epic description to contain or link to the findings

2️⃣ **BUILD TRACK**

[**Plan Phase**](https://about.gitlab.com/handbook/product-development-flow/#build-phase-1-plan)
- [ ] Proposal is ready to be broken down and prioritized by PM for development

**Develop & Test Phase**
- [ ] Product Designer reviewed MRs that include user-facing changes, as per the [Code Review Guidelines](https://docs.gitlab.com/ee/development/code_review.html)
  - [ ] UX Debt issues have been identified and assigned to a milestone

```

### This week I learned

We use the geekbot Slack plugin to automate our async weekly retrospective called [This Week I Learned](https://app.geekbot.com/dashboard/standup/113094/view). Participation is optional but encouraged. Every Friday at 9am on each team memeber's local time zone, geekbot asks "What did you learn this week?", "What's something you're looking forward to in the next week?", "Is there something puzzling you? If so, who can support you?". Answers are posted in the #ux_ci-cd Slack channel.

